@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,900&display=swap');

:root {
  --root-size: 16px; /*  16px is default browser fallback */
  --color-grey-dark: #1c1c1c;
  --color-grey-medium: #292929;
  --color-grey: #353535;
  --color-grey-light: #656565;
  --color-white: #fff;
  /* --size-mobile: 500px; CANNOT TO THAT */
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: var(--root-size);
  font-weight: 300;
  color: var(--color-white);
  background: var(--color-grey-dark);
  margin: 0;
  position: relative;
}

form {
  display: flex;
  flex-direction: column;
}

.container {
  position: relative;
}

.image {
  max-width: 100%;
  height: auto;
}

.contact, .app-header, .articles, .app-footer {
  padding: 0.5rem 2rem;
}

.app-header {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: var(--color-grey-medium);
}

.app-header > .app-header-navigation {
  flex: 1 100%;
}

.app-header ul {
  display: flex;
  justify-content: space-around;
  /* flex-direction: column; */
  padding-left: 0;
  list-style: none;
}

.app-header li {
  margin: 0.5rem 0.75rem;
  text-align: center;
}

.app-header a {
  color: var(--color-grey-light);
  /* text-decoration: none; */
  letter-spacing: 1px;
  font-weight: 300;
  font-size: 0.8rem;
}

.app-header .app-header-logo {
  background: var(--color-grey-dark);
  height: 1.5rem;
  width: 1.5rem;
  padding: 2rem;
  margin: 1.5rem;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-header .app-header-logo:hover {
  cursor: pointer;
  color: var(--color-grey);
}

.app-header .app-header-logo-text {
  margin: 0;
  font-weight: 700;
  font-size: 0.8rem;
  transition: color 0.3s;
}

.article {
  margin: 2rem 0;
  color: var(--color-grey-light);
}

.article .article-content {
  display: flex;
  font-size: 1.1rem;
}

.article .article-content p {
  color: var(--color-white);
}

.article .article-content img {
  border-radius: 1rem;
  margin: 0.5rem;
}

.app-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Starting From Tablet */
@media screen and (min-width: 500px) {
  .app-header {
    flex-direction: row;
  }
}

/* Starting From Desktop */
@media screen and (max-width: 1024px) {
  .article .article-content {
    flex-direction: column;
  }
}